*,cover
*-stamp
*.bak
*.kcache
*.kcache.*
*.prof
*.pstats
*.py[co]
*.swp
*.valgrind.out*
*~
.coverage
.nfs*
/.emacs.local
/coverage
/logs
/temp
/trash
\#*
\.\#*
build
build-arch*
data/haxby8x6
debian/*.debhelper
debian/*.substvars
debian/files
debian/python-mvpa/*
mvpa/*/*/*.dylib
mvpa/*/*/*.so
profile.out
svmc_wrap.cpp
tests/.noseids
tools/codeswarm
tools/pdfbook
