*,cover
*-stamp
*.bak
*.kcache
*.kcache.*
*.prof
*.pstats
*.py[cod]
*.swp
*.o
*.a
*.valgrind.out*
.pc
*~
.coverage
.nfs*
/.emacs.local
/coverage
/logs
/temp
/trash
/debugs
\#*
\.\#*
/build
/build-arch*
data/haxby8x6
debian/*.debhelper
debian/*.substvars
debian/files
debian/python-mvpa2/*
mvpa2/*/*/*.dylib
mvpa2/*/*/*.so
profile.out
svmc_wrap.cpp
tests/.noseids
tools/codeswarm
tools/pdfbook
*_flymake.py
.ropeproject
logs
nobackup_*
doc/examples/match_distribution_report
doc/examples/match_distribution_report.pdf
.eric4project
doc/source/examples
doc/source/cmdline/
doc/source/generated
doc/api
/datadb
_nno
.DS_Store
.project
.pydevproject
searchlight_surfnew.py
