*~
*,cover
.coverage
/coverage
/trash
\#*
\.\#*
*.py[co]
/html
*/html
*/*/html
/html
build
*.prof
*.kcache
*.so
build-arch*
svmc_wrap.cpp
doc/examples/dump.*
*.bak
*.swp
*.pstats
debian/python-mvpa/*
debian/*.debhelper
debian/*.substvars
debian/files
*-stamp
*.html
*.dot
*.ps
profile.out
