Yaroslav Halchenko <debian@onerussian.com>
Yaroslav Halchenko <git@onerussian.com>
Per B. Sederberg <psederberg@gmail.com>
Per B. Sederberg <per@parsec.Princeton.EDU>
Scott Gorlin <gorlins@mit.edu>
Scott Gorlin <scott@nlinfit.(none)>
Swaroop Guntupalli <swaroopgj@gmail.com>
Swaroop Guntupalli <swaroop@mvpa-linux.(none)>
Matteo Visconti dOC <matteo.visconti.gr@dartmouth.edu> Matteo Visconti di Oleggio Castello <mvdoc@users.noreply.github.com>
Richard Dinga <dinga92@gmail.com> dinga92 <dinga92@gmail.com>
