# This is a sample configuration file for code_swarm

# Frame width
Width=480

# Frame height
Height=360

# Input file
InputFile=../../build/swarm/git.xml

# Particle sprite file
ParticleSpriteFile=src/particle.png

#Font Settings
Font=SansSerif
FontSize=12
BoldFontSize=14

# Project time per frame
MillisecondsPerFrame=21600000

# Maximum number of Background processes
MaxThreads=4

# Optional Method instead of MillisecondsPerFrame
#FramesPerDay=4

# Background in R,G,B
Background=0,0,0

# Color assignment rules
# Keep in order, do not skip numbers. Numbers start
# at 1.
# 
# Pattern:  "Label", "regex", R,G,B, R,G,B
# Label is optional.  If it is omitted, the regex
# will be used.
#
ColorAssign1="Examples","doc/examples/.*", 0,255,255, 0,255,255
ColorAssign2="Docs","doc/.*\.(rst,txt)", 0,0,255, 0,0,255
ColorAssign3="Tests",".*test_.*\.py", 0,255,0, 0,255,0
ColorAssign4="Datasets","mvpa/dataset.*", 255,0,255, 255,0,255
ColorAssign5="Classifiers","mvpa/clf.*", 255,160,65, 255,160,65
ColorAssign6="Mappers","mvpa/.*mapper.*\.py", 255,0,0, 255,0,0
ColorAssign7="MVPA Generic",".*", 255,255,0, 255,255,0

# Save each frame to an image?
TakeSnapshots=True

# Where to save each frame
SnapshotLocation=../../build/swarm/frames/code_swarm-#####.png

# Draw names (combinatory) :
# Draw sharp names?
DrawNamesSharp=true
# And draw a glow around names? (Runs slower)
DrawNamesHalos=true

# Draw files (combinatory) :
# Draw sharp files
DrawFilesSharp=false
# Draw fuzzy files
DrawFilesFuzzy=true
# Draw jelly files
DrawFilesJelly=false

# Show the Legend at start
ShowLegend=true

# Show the History at start
ShowHistory=true

# Show the Date at start
ShowDate=true

# Show edges between authors and files, mostly for debug purpose
ShowEdges=false

# Turn on Debug counts.
ShowDebug=false

# Natural distance of files to people
EdgeLength=75

# Amount of life to decrement
EdgeDecrement=-2
FileDecrement=-2
PersonDecrement=-1

#Speeds.
#Optional: NodeSpeed=7.0, If used, FileSpeed and PersonSpeed need not be set.
#
FileSpeed=7.0
PersonSpeed=2.0

#Masses
FileMass=1.0
PersonMass=10.0

# Life of an Edge
EdgeLife=250

# Life of a File
FileLife=200

# Life of a Person
PersonLife=255

# Highlight percent.
# This is the amount of time that the person or
# file will be highlighted.
HighlightPct=5

## Physics engine selection and configuration
# Directory physics engine config files reside in.
PhysicsEngineConfigDir=physics_engine
# Force calculation algorithms ("PhysicsEngineLegacy", "PhysicsEngineSimple"...) :
PhysicsEngineSelection=PhysicsEngineLegacy

# OpenGL is experimental. Use at your own risk.
UseOpenGL=false
