Source: pymvpa
Section: science
Priority: optional
Maintainer: Michael Hanke <michael.hanke@gmail.com>
Uploaders: Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: debhelper (>= 5.0.38), swig, python-all-dev (>= 2.3), python-central (>= 0.5.6), python-numpy-ext, libsvm-dev (>= 2.84.0), python-epydoc (>> 2.99), python-docutils, texlive-lang-french
XS-Python-Version: >= 2.4
Standards-Version: 3.7.3
Homepage: http://pkg-exppsy.alioth.debian.org/pymvpa
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/pymvpa.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/pymvpa.git


Package: python-mvpa
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, python-numpy, python-scipy
Suggests: python-profiler, python-coverage
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Recommends: python-nifti, python-psyco
Description: multivariate pattern recognition with Python
 This package provides a Python module to ease pattern classification
 analyses of large datasets. It provides high-level abstraction of typical
 processing steps and a number of implementations of some popular algorithms.
 .
 While it is not limited to neuroimaging data it is eminently suited for such
 datasets.
