#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
DEB_PYTHON_SYSTEM = pysupport
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	$(MAKE) distclean

#DEB_COMPRESS_EXCLUDE := .py
#DEB_INSTALL_CHANGELOGS_ALL := CHANGELOG
