#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
DEB_PYTHON_SYSTEM = pysupport
DEB_PYTHON_MODULE_PACKAGE = python-mvpa
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	$(MAKE) distclean

build/python-mvpa-doc::
	# should actually should be 'website', but takes to much ressources to
	# build on my laptop :(
	$(MAKE) manual
	$(MAKE) printables

DEB_COMPRESS_EXCLUDE := .py .pdf .html .css .jpg .txt
