#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
DEB_PYTHON_SYSTEM = pysupport
DEB_PYTHON_MODULE_PACKAGE = python-mvpa
include /usr/share/cdbs/1/class/python-distutils.mk

# enable the LIBSVM wrapper
DEB_PYTHON_BUILD_ARGS += --with-libsvm
DEB_PYTHON_INSTALL_ARGS_ALL += --with-libsvm

clean::
	$(MAKE) distclean

build/python-mvpa-doc::
	$(MAKE) doc

# use jquery from Debian package
# symlinked by debhelper
install/python-mvpa-doc::
	rm build/html/_static/jquery.js

# install directly into package directory (despite multiple packages)
DEB_DESTDIR = $(CURDIR)/debian/python-mvpa
# immediately useable documentation
DEB_COMPRESS_EXCLUDE := .py .pdf .html .css .jpg .txt .js .json
# -doc package contents
DEB_INSTALL_DOCS_python-mvpa-doc := build/html build/latex/*.pdf
DEB_INSTALL_EXAMPLES_python-mvpa-doc := doc/examples/* data

